<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Score366</a>
    </div>
      <ul class="nav navbar-nav">
        <li class="active">
        	<a href="#">
        		<img src="/assets/images/leagueslogo/bpl.png" alt="BPL" class="topsliderimages">
			</a>
        </li>
        <li>
        	<a href="#">
        		<img src="/assets/images/leagueslogo/lfp.png" alt="lfp" class="topsliderimages">
        	</a>
        </li>
        <li>
        	<a href="#">
        		<img src="/assets/images/leagueslogo/bun.png" alt="bun" class="topsliderimages">
        	</a>
        </li>
        <li>
        	<a href="#">
        		<img src="/assets/images/leagueslogo/ser.png" alt="ser" class="topsliderimages">
        	</a>
        </li>
        <li>
            <a href="#">
                <img src="/assets/images/leagueslogo/lig1.png" alt="lig1" class="topsliderimages">
            </a>
        </li>
        <li>
        	<div class="login">
        		{{#if session.isAuthenticated}}
				  <a {{ action 'invalidateSession' }}>Logout</a>
				{{else}}
					<form {{action "authenticate" on="submit"}}>
					  <div class="pull-left">
					    {{input value=identification class="form-control" placeholder="E-mail" type="text" name="email"}}
					  </div>
					  <div class="pull-left">
					    {{input value=password class="form-control" placeholder="Password" type="password" name="password"}}
					  </div>
					  <div class="pull-left">
					    <button type="submit" class="btn btn-success">Go</button>
					  </div>
					</form>
				{{/if}}
            </div> 
        </li>
      </ul>
</nav>

{{yield}}
